@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #0a0e13;
  /*Linear gradient... */
  background: 
    radial-gradient(
     at center, #1b2140, #020202
    );
  top:0px;
  left:0px;
  height:100%;
  width:100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
  justify-content: flex-start;
  align-items: center;
}